V2S_HOST=127.0.0.1
V2S_PORT=19000
V2S_DB_PATH=./data/app.sqlite3
V2S_CACHE_DIR=./data/cache
V2S_MODEL_ROOT=./models/whisper
V2S_OUTPUT_MODE=beside_video
V2S_DEFAULT_SOURCE_LANG=auto
V2S_DEFAULT_TARGET_LANG=zh-CN
V2S_WHISPER_MODEL=base
V2S_WHISPER_DEVICE=auto
V2S_WHISPER_COMPUTE_TYPE=auto
